/* Larger than mobile: 400px */
/* Larger than phablet: 550px */
/* Larger than tablet: 750px */
/* Larger than desktop: 1000px */
/* Larger than Desktop HD: 1200px */

@media (min-width: 1200px) {}

.dark {
  background-color: #000;
  color: #e1e1e1;
}

.ws-nowrap {
  white-space: nowrap;
}

@media (max-width: 550px) {
  .xs-center {
    text-align: center;
  }
}
